*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: system-ui, Helvetica, 'Segoe UI', 'Lucida Console', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.skip-link {
    line-height: 100%;
    position: absolute;
    text-decoration: none;
    left: 50%;
    top: 10px;
    z-index: 9999;
    transform: translate(-50%, -200%); /* align center and hide to top */
    transition: 0.5s;
}

.skip-link:focus {
    transform: translate(-50%, 0%);
}

.hide-caret {
    caret-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
