menu "ESP Base Configuration"

    config DEBUG
        bool "Enable DEBUG features and loggings"
        default y

    config AUTO_ALIGN
        bool "Enable tab and space alignment in loggings"
        default y

    menuconfig USE_LED
        bool "Enable LED"
        default y
    if USE_LED
        config GPIO_LED
            int "Blink GPIO number"
            range 0 48
            default 8 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32H2
            default 18 if IDF_TARGET_ESP32S2
            default 48 if IDF_TARGET_ESP32S3
            default 5

        config LED_NUM
            int "LED number"
            range 1 256
            default 1

        choice
            prompt "Select LED driver mode"
            default LED_MODE_GPIO
            config LED_MODE_GPIO
                bool "GPIO on/off"
            config LED_MODE_LEDC
                bool "LEDC PWM signal"
            config LED_MODE_RMT
                bool "RMT addressable LED (e.g. ws2812)"
        endchoice

        config LED_INDICATOR
            bool "Enable IOT component led indicator"
            default y
            help
                Add about 27.4KB to firmware.
    endif

    menuconfig USE_UART
        bool "Enable UART"
        default y
    if USE_UART
        config UART_NUM
            int "UART Controller number"
            range 0 2
            default 0

        config GPIO_TXD
            int "UART TXD pin number"
            range 0 48
            default 43 if IDF_TARGET_ESP32S3
            default 1

        config GPIO_RXD
            int "UART RXD pin number"
            range 0 48
            default 44 if IDF_TARGET_ESP32S3
            default 3
    endif

    menuconfig USE_I2C
        bool "Enable I2C"
        default y
    if USE_I2C
        config I2C_NUM
            int "I2C Bus number"
            range 0 1
            default 0

        config GPIO_SDA
            int "I2C SDA pin number"
            range 0 48
            default 17 if IDF_TARGET_ESP32S3
            default 26

        config GPIO_SCL
            int "I2C SCL pin number"
            range 0 48
            default 18 if IDF_TARGET_ESP32S3
            default 27

        config USE_SCREEN
            bool "Enable Screen on I2C 1" # u8g2 occupies I2C_NUM_1
            default y
            select USE_I2C1 if I2C_NUM != 1
            help
                Enable scn_xxx functions. Add about 4.0KB to firmware.

        config USE_I2C1
            bool

        config GPIO_SDA1
            int "I2C1 SDA pin number"
            depends on USE_I2C1
            range 0 48
            default 15 if IDF_TARGET_ESP32S3
            default 18

        config GPIO_SCL1
            int "I2C1 SCL pin number"
            depends on USE_I2C1
            range 0 48
            default 16 if IDF_TARGET_ESP32S3
            default 19

        config USE_I2C_GPIOEXP
            bool "Enable GPIO Expander on I2C"
            select USE_GPIOEXP
            default n
            help
                Enable i2c_gpio_xxx functions. Add about 3.0KB to firmware.
    endif

    menuconfig USE_SPI
        bool "Enable SPI"
        default y
    if USE_SPI
        config SPI_NUM
            int "SPI Host number"
            range 1 3
            default 2

        config GPIO_SPI_MISO
            int "SPI MISO pin number"
            range 0 48
            default 13 if IDF_TARGET_ESP32S3
            default 12

        config GPIO_SPI_MOSI
            int "SPI MOSI pin number"
            range 0 48
            default 11 if IDF_TARGET_ESP32S3
            default 13

        config GPIO_SPI_SCLK
            int "SPI SCLK pin number"
            range 0 48
            default 12 if IDF_TARGET_ESP32S3
            default 14

        config GPIO_SPI_CS0
            int "SPI CS 0 pin number"
            depends on USE_SDFS
            range 0 48
            default 10 if IDF_TARGET_ESP32S3
            default 15

        config USE_SPI_GPIOEXP
            bool "Enable GPIO Expander on SPI"
            select USE_GPIOEXP
            default n
            help
                Enable spi_gpio_xxx functions. Add about 16KB to firmware.

        config GPIO_SPI_CS1
            int "SPI CS 1 pin number"
            depends on USE_SPI_GPIOEXP
            range 0 48
            default 9 if IDF_TARGET_ESP32S3
            default 25
    endif

    menuconfig USE_USB
        bool "Enable USB" if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        default y if IDF_TARGET_ESP32S3
        select TINYUSB
        help
            Enable usbmode_xxx functions. Add about 62.7Kb to firmware.
    if USE_USB
        config USB_CDC_DEVICE
            bool "Enable USB CDC slave mode"
            select TINYUSB_CDC_ENABLED
            default y
        choice
            prompt "Select USB CDC slave mode features"
            depends on USB_CDC_DEVICE
            default USB_CDC_DEVICE_SERIAL
            config USB_CDC_DEVICE_SERIAL
                bool "Act as serial device"
            config USB_CDC_DEVICE_STDOUT
                bool "Act as console device"
        endchoice

        config USB_CDC_HOST
            bool "Enable USB CDC host mode"
            default y

        config USB_MSC_DEVICE
            bool "Enable USB MSC Slave mode"
            select TINYUSB_MSC_ENABLED
            imply USE_FFS
            imply USE_SDFS
            default y

        config USB_MSC_HOST
            bool "Enable USB MSC host mode"
            default y

        config USB_HID_DEVICE
            bool "Enable USB HID slave mode"
            select TINYUSB_HID_ENABLED  # for ESP-IDF v4.4+
            select TINYUSB_HID_COUNT    # for ESP-IDF v5.0+
            default y

        config USB_HID_HOST
            bool "Enable USB HID host mode"
            default y
    endif

    config USE_GPIOEXP
        bool
    if USE_GPIOEXP
        config GPIO_INT
            int "GPIO Expander Interrupt pin number"
            range 0 48
            default 1 if IDF_TARGET_ESP32S3
            default 34
    endif

    menuconfig USE_ADC
        bool "Enable ADC"
        default y
        help
            Enable adc_read function. Add about 4.6KB to firmware.
    if USE_ADC
        config GPIO_ADC
            int "ADC1 pin number"
            range 32 39 if IDF_TARGET_ESP32
            range 1 10 if IDF_TARGET_ESP32S3
            range 0 48
            default 2 if IDF_TARGET_ESP32S3
            default 35
    endif

    menuconfig USE_BTN
        bool "Enable Button input"
        default y
    if USE_BTN
        config GPIO_BTN
            int "Button pin number"
            range 0 48
            default 4 if IDF_TARGET_ESP32S3
            default 36

        config BTN_ACTIVE_LOW
            bool "Button active low"
            default n
    endif

    menuconfig USE_KNOB
        bool "Enable Knob input"
        default y
        help
            Add about 2.3KB to firmware.
    if USE_KNOB
        config GPIO_ENCA
            int "Knob encoder A pin number"
            range 0 48
            default 5 if IDF_TARGET_ESP32S3
            default 37

        config GPIO_ENCB
            int "Knob encoder B pin number"
            range 0 48
            default 6 if IDF_TARGET_ESP32S3
            default 38
    endif

    menuconfig USE_SERVO
        bool "Enable Servo control"
        default y
        help
            Enable pwm_xxx_degree functions. Add about 1.5KB to firmware.
    if USE_SERVO
        config GPIO_SERVOV
            int "Servo Vertical PWM pin number"
            range 0 48
            default 7 if IDF_TARGET_ESP32S3
            default 32

        config GPIO_SERVOH
            int "Servo Horizontal PWM pin number"
            range 0 48
            default 8 if IDF_TARGET_ESP32S3
            default 33
    endif

    menuconfig USE_BUZZER
        bool "Enable Buzzer output"
        default y
        help
            Enable pwm_xxx_tone functions. Add about 1.1KB to firmware.
    if USE_BUZZER
        config GPIO_BUZZER
            int "Buzzer PWM pin number"
            range 0 48
            default 14 if IDF_TARGET_ESP32S3
            default 4
    endif

    menuconfig USE_FFS
        bool "Enable Flash FileSystem"
        default y
    if USE_FFS
        config FFS_MP
            string "Flash FileSystem Mount Point"
            default "/flashfs"

        choice
            prompt "Select Flash FileSystem Format"
            default FFS_SPIFFS
            config FFS_FAT
                bool "Storage partition is Fat FileSystem"
            config FFS_SPIFFS
                bool "Storage partition is SPI Flash FileSystem"
        endchoice
    endif

    menuconfig USE_SDFS
        bool "Enable SDCard FileSystem"
        depends on USE_SPI
        default n
    if USE_SDFS
        config SDFS_MP
            string "SDCard FileSystem Mount Point"
            default "/sdcard"
    endif

    config ALS_TRACK
        bool "Enable Ambient Light Sensor"
        depends on USE_I2C
        default n
        help
            Enable als_xxx functions. Add about 1.0KB to firmware.

    config VLX_SENSOR
        bool "Enable VLX distance measurement input"
        default n
        help
            Enable vlx_probe function. Add about 5.0KB to firmware.

    config OTA_FETCH
        bool "Enable OTA updation from URL"
        default n
        help
            Enable ota_updation_url function. Add about 263KB to firmware.

    config USE_CONSOLE
        bool "Enable console based on linenoise"
        default y

endmenu
