# USB Library (USB Host mode)
CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=256

# TinyUSB (USB Device mode)
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="Hankso"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="ESP Base"
CONFIG_TINYUSB_DESC_CDC_STRING="ESP Base CDC Device"
CONFIG_TINYUSB_DESC_MSC_STRING="ESP Base MSC Device"
CONFIG_TINYUSB_DESC_HID_STRING="ESP Base HID Device"
