# Chip-specific
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Wi-Fi
CONFIG_ESP_WIFI_IRAM_OPT=n
CONFIG_ESP_WIFI_RX_IRAM_OPT=n

# LWIP
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IPV4_NAPT=y

# TinyUSB
CONFIG_TINYUSB_HID_COUNT=1
